body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }

  .game-intro {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fanimaders.com%2Fd-c-vs-marvel%2F&psig=AOvVaw00VVk7QdxDhSBrUq_iQ-n6&ust=1674560273838000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIDupqTN3fwCFQAAAAAdAAAAABAF");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid;
  }