body {
    padding: 0;
    text-align: center; 
    background-color: black ;
  }
  
  .game-intro p {
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Code";
    color: white;
  }

  .game-intro span {
    color: red
  }
  
  .wasd-img {
    width: 200px;
    resize: both;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  #start-button {
    font-size: 50px;
    background-color: red;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Fira Code';
  }
  
  

  #restart-button {
    font-size: 35px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    font-family: 'Fira Code';
  }

  #pause-button {
    font-size: 35px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    font-family: 'Fira Code';
  }
  
  #game-board {
      float: left;
      padding: 10px 0px;
  }

  .game-intro {
    display: flex;
    display: block;
    justify-content: center;

  }
  
  #deadpool {
    margin-top: 50px;
    margin-bottom: 15px;
  }
